{% if(error) %}
  <p>{{ error }}</p>
{% else %}
  <p><b>Condition:</b> {{ info['state'] }}</p>
  <p><b>Temperature:</b> {{ info['temp'] }} Kelvin</p>
  <p><b>Min Temperature:</b> {{ info['temp_min'] }} Kelvin</p>
  <p><b>Max Temperature:</b> {{ info['temp_max'] }} Kelvin</p>
  <p><b>Wind Speed:</b> {{ info['wind'] }} meter/sec</p>
{% endif %}
